<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008416224853-qlbb7c4mddj3vc9nh1engpquff9c922r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008416224853-qlbb7c4mddj3vc9nh1engpquff9c922r</string>
	<key>API_KEY</key>
	<string>AIzaSyD9wj-8M2p4bzXRRvqYbzdkFwmmiCCdCzY</string>
	<key>GCM_SENDER_ID</key>
	<string>1008416224853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finlogin</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-auth-b5239</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-auth-b5239.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008416224853:ios:b8643e3d8ddc88d33b46dc</string>
</dict>
</plist>